.lesson {
  background-color: lemonchiffon;
}

.title {
  color: darkblue;
}

#email {
  background-color: goldenrod;
}

#github {
  background-color: lightsteelblue;
}

#portfolio {
  background-color: rgb(107, 39, 214);
}
